* {
    font-family: 'Maven Pro', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dropdown {
    padding-left: -10.5px;
    padding-right: -10.5px;
}